.slidebar{
    width: 17%;
    min-height:100vh;
    border: 2px solid #a9a9a9;
    border-top: 0;
    font-size: max(1.2vw, 12px);
}

  .slidebar-options{
    padding-left: 20%;
    padding-top: 50px;
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.slidebar-option{
    display: flex;
    align-items: center;
   gap:12px;
   border: 1px solid #a9a9a9;
   border-right: 0;
   padding: 8px 10px;
   border-radius: 3px 0 0 3px;
   cursor: pointer;

}
@media (max-width:900px) {
     .slidebar-option p{
        display: none;
     }
}