
.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(1.5vw, 24px);
    font-weight: 700;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin-top: 40px;
    gap: 30px;
    row-gap:50px;
}